@model SchoolExercise.ViewsModel.EnrolledsForStudents

@{
    ViewBag.Title = "Classes For Students";
}

<h2>Classes for @Model.Student.Firstname @Model.Student.Lastname</h2>

<table class="table">
    <tr>
        <th>
           Classes
        </th>
        <th>
            Grade
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Enrolleds) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
        </tr>
    }

</table>



